
h1 {
  text-align: center;
}

body {
  width: 8.5in;
  text-align: justify;
  counter-reset: section;
}

h2:before {
  content: counter(section) ". ";
  counter-increment: section
}

table {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding-left: 1em;
  padding-right: 1em;
  border-left: 1px solid black;
}
